<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JPAPersistenceProject</display-name>
  
  <servlet>
		<display-name>Person</display-name>
		<servlet-name>Person</servlet-name>
		<servlet-class>com.crosscode.spring_Oracle.UserPersistenceControllerServlet</servlet-class>
	</servlet>
	
  <servlet>
		<display-name>Success</display-name>
		<servlet-name>Success</servlet-name>
		<servlet-class>com.crosscode.spring_Oracle.Success</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Success</servlet-name>
		<url-pattern>/Success</url-pattern>
	</servlet-mapping>
  
  <servlet-mapping>
		<servlet-name>Person</servlet-name>
		<url-pattern>/person</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
     <welcome-file>person.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>